---
---

$brand-dark: #784f84;
$brand-light: #c37bbd;

// Why did you use SASS, if you do not take advantage of variables???
// That's like, the whole point of SASS, and you missed it entirely!
@import "{{ site.theme }}";

.inner {
    max-width: 740px;
}

#header_wrap, #footer_wrap {
    background: $brand-dark;
}

#forkme_banner {
    background-color: $brand-light;
}
